<header>
   <nav id="navbar">
       <div class="container">
            <h1 class="logo"><a href="index.html"></a>P_o_S Store</h1>
            <ul>
                <li><a href="index.html"></a>Home</li>
                <li>
                    <a class="<%=path === '/'? 'active' : ''%>" href="List Item"></a>Home
                </li>
                <li>
                    <a class="<%=path === '/'? 'active' : ''%>" href="Admin"></a>Home
                </li>
                <li>
                    <a class="<%=path === '/'? 'active' : ''%>" href="index.html"></a>Home
                </li>
            </ul>
            </nav>
       </div>
</header>