/* main styling */
html,
body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   line-height: 1.7em;
}
h1,
h2,
h3 {
   padding-bottom: 20px;
}

/* navbar */
#navbar {
   color: #fff;
   background: #333;
   overflow: auto;
}
#navbar a {
   color: #fff;
}
#navbar h1 {
   padding-top: 20px;
   float: left;
}
#navbar ul {
   float: right;
   list-style: none;
}
#navbar ul li {
   float: left;
}
#navbar ul li a {
   display: block;
   padding: 20px;
   text-align: center;
}
#navbar ul li a:hover,
#navbar ul li a.active {
   background: #444;
   color: #f7c08a;
}
#navbar-container {
   padding-bottom: 20px;
   line-height: 1.7em;
}
